#grid-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 5px solid black;
    /* height: 1000px; */
}

.row {
    display: flex;
    flex: auto;
    /* min-height: 20px; */
}

.square {
    /* display: flex; */
    flex: auto;
    /* min-height: 20px;
    min-width: 20px; */
    border: 1px solid lightgray;
}